.svelte-widgets .loading-wrapper {
  .loading-content {
    span {
      @extend .font-bold;
      color: hsl(0, 0%, 100%);
      font-size: 1em;
      text-transform: uppercase;
    }
  }
  .loading-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: hsl(0, 0%, 100%);
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    $animationSpeed: 0.4s;
    div:nth-child(1) {
      left: 8px;
      animation: loading-ellipsis1 $animationSpeed infinite;
    }
    div:nth-child(2) {
      left: 8px;
      animation: loading-ellipsis2 $animationSpeed infinite;
    }
    div:nth-child(3) {
      left: 32px;
      animation: loading-ellipsis2 $animationSpeed infinite;
    }
    div:nth-child(4) {
      left: 56px;
      animation: loading-ellipsis3 $animationSpeed infinite;
    }
  }
}
